<div id="login-form">
  <h1>Log In</h1>
  <form action="/login" method="POST">

    <label class="form-control"> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label class="form-control"> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label class="form-control"> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button class="btn btn-primary" type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>