body {
  padding: 50px;
}

* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}


.username{
  padding-right: 5px;
  white-space: nowrap;
}
 