<div id="login-form">
    <h2>Notes</h2>
    <a href="/notes/add">
        <button>
            Add note
        </button>
    </a>
    <table>
        <tr>
            <td>Title</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Description</td>
        </tr>
    </table>
</div>