{{> header title="Notes" isLogin=isLogin username=username }}
<div id="login-form">
    <a href="/notes/add">
        <button class="btn btn-primary">
            Add note
        </button>
    </a>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        {{#each notes}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>
                <a href="/notes/edit/{{this._id}}">
                    <button  class="btn btn-warning">
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <form action="/notes/delete/{{this._id}}" method="POST">
                    <button  class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</div>